# Python Pandas

In [1]:
import pandas as pd

In [2]:
import numpy as np

## Panda Series

In [3]:
#creating a panda series
letters='abcdefg'

In [4]:
first_series=pd.Series(list(letters))

In [5]:
first_series

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [6]:
#Series from a ndarray
np_country=np.array(['Kenya','Uganda','South Africa','Tanzania','Ghana','Nigeria','Egypt','Algeria'])

In [8]:
Series_country=pd.Series(np_country)

In [9]:
Series_country

0           Kenya
1          Uganda
2    South Africa
3        Tanzania
4           Ghana
5         Nigeria
6           Egypt
7         Algeria
dtype: object

In [10]:
Series_country[0]

'Kenya'

In [11]:
GDP=[234,546,567,890,123,456,567,789]

In [14]:
#series from dict
Series2=pd.Series(GDP,index=[np_country])

In [13]:
Series2

Kenya           234
Uganda          546
South Africa    567
Tanzania        890
Ghana           123
Nigeria         456
Egypt           567
Algeria         789
dtype: int64

In [15]:
#Creating Series from scalar
scalar_series=pd.Series(5.,index=['a','b','d','d','e'])

In [16]:
scalar_series

a    5.0
b    5.0
d    5.0
d    5.0
e    5.0
dtype: float64

pd.Series(data,index)

In [18]:
#accessing
Series_country[0:4]

0           Kenya
1          Uganda
2    South Africa
3        Tanzania
dtype: object

In [19]:
Series2[0:5]

Kenya           234
Uganda          546
South Africa    567
Tanzania        890
Ghana           123
dtype: int64

In [40]:
#accessing values along a row through index name
Series2.loc["Uganda"]

Uganda    546
dtype: int64

In [39]:
#accessing values in a row through their index's index
Series2.iloc[0]

234

looking up through index position.
Basically accessing the rows

#### Vectorized Operations in Series

<p>Vectorized operations show how series can be added. Are performed by the index positions of data elements

In [23]:
Data=[1,2,3,4]
Data2=[10,20,30,40]

In [28]:
first_vector_series=pd.Series(Data,index=['a','b','c','d'])

In [29]:
second_vector_series=pd.Series(Data2,index=['a','b','c','d'])

In [30]:
first_vector_series+second_vector_series

a    11
b    22
c    33
d    44
dtype: int64

<p> The data element is bound to the index position. Shuffling shows these results </p>

In [31]:
second_vector_series=pd.Series(Data2,index=['a','d','b','c'])

In [32]:
first_vector_series+second_vector_series

a    11
b    32
c    43
d    24
dtype: int64

In [35]:
#let's introduce new indices
second_vector_series=pd.Series(Data2,index=['a','b','e','f'])

In [36]:
first_vector_series+second_vector_series

a    11.0
b    22.0
c     NaN
d     NaN
e     NaN
f     NaN
dtype: float64

<p>Further shows the data elemet boundness to the index. The new second_vector_series lacks c and d and threfore no additions could be made </p>
The additional letters do not match any index in the first series </br>

## Panda DataFrame