# Cluster analysis

In [16]:
import pandas as pd

In [15]:
product=pd.read_csv("Product Data Set - Student 2 of 3.csv", sep=" | ")

<ipython-input-15-e3a0bcb68677>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  product=pd.read_csv("Product Data Set - Student 2 of 3.csv", sep=" | ")

In [17]:
transaction=pd.read_csv("Transaction Data Set - Student 3 of 3.csv",sep=' | ')

<ipython-input-17-9d79c7dce566>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  transaction=pd.read_csv("Transaction Data Set - Student 3 of 3.csv",sep=' | ')

In [18]:
customer=pd.read_csv("Customer Data Set - Student 1 of 3.csv", sep=' | ')

<ipython-input-18-1c6108e7f31e>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  customer=pd.read_csv("Customer Data Set - Student 1 of 3.csv", sep=' | ')

In [12]:
product.head()

        PRODUCT CODE|PRODUCT CATEGORY|UNIT   LIST  PRICE
0  30001|HEALTH            &       BEAUTY|  $7.45    NaN
1  30002|HEALTH            &       BEAUTY|  $5.35    NaN
2  30003|HEALTH            &       BEAUTY|  $5.49    NaN
3  30004|HEALTH            &       BEAUTY|  $6.46    NaN
4  30005|HEALTH            &       BEAUTY|  $7.33    NaN

In [10]:
product=pd.read_csv(body, sep=' | ')

NameError: name 'body' is not defined